.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }

.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }

.wd_per50 { width: 50% !important; }
.wd_per60 { width: 60% !important; }
.wd_per70 { width: 70% !important; }
.wd_per80 { width: 80% !important; }

.ht_per50 { height: 50% !important; }
.ht_per60 { height: 60% !important; }
.ht_per70 { height: 70% !important; }
.ht_per80 { height: 80% !important; }

.cursor { cursor: pointer; }
.underline { color: #0100FF; text-decoration: underline; cursor: pointer; }

.center { text-align: center; }

/************ 확인 메세지 창 ***************/
.alert_popup { display:none; overflow:hidden; position:fixed; top:0px; left:47%; z-index:1000; width:100%; max-width:300px; margin:0 auto; padding:5px; text-align:center; background-color:#fff; }
.alert_popup .alert-title { height:34px; font-size:16px; font-weight:bold; line-height:34px; background-color:#eee; }
.alert_popup .alert-content { padding:20px 0; }
.alert_popup .alert-content span:first-child { display:none; }
.alert_popup .alert-btn-wrap { height:24px; color:#fff; line-height:24px; }
.alert_popup .comm_msg_box_confirm_content,
.alert_popup .comm_msg_box_alert_content { padding:10px 5px; line-height:1.4em; }
.alert_popup .alert-btn-wrap >a { display:inline-block; padding:3px 0; background-color:#e70012; }
#comm_msg_box_confirm_yes_btn { width:45%; margin-left:2.5%; float:left; cursor:pointer; border:1px solid #e70012}
#comm_msg_box_confirm_no_btn { width:45%; margin-right:2.5%; float:right; cursor:pointer; background-color:#fff; color:#e70012; border:1px solid #e70012; box-sizing:border-box; }

/************ potalImage icon ***************/
div.potalImage .add_btn_icon { background:url(../../img/img_add_btn.png) no-repeat 0 0; cursor:pointer; visibility:hidden; }
div.potalImage .add_btn_icon.on { visibility: visible; }

div.potalImage .del_btn_icon { background:url(../../img/img_del_btn.png) no-repeat 0 0; cursor:pointer; visibility:hidden; }
div.potalImage .del_btn_icon.on { visibility: visible; }
